* {
  margin: 0;
  padding: 0;
  background-color: #c1cad6;
}

body {
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 18vmin;
  font-size: 8vmin;
  color: #84e296;
  background-color: bisque;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #84e296;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #84e296;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: yellow;
  font-size: 8vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
